.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--terciaria);
    min-width: 375px;
    

    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        margin-top: 50px;
        margin-bottom: 50px;

        p{
            font-size: 1.1rem;
        }

        .info{
            margin-bottom: 15px;
            font-size: 2.5rem;
            color: var(--secundaria);
        }

        .linkGithub{
            text-decoration: none;
            color: var(--terciaria);
            font-size: 1.2rem;
            margin-bottom: 15px;
            transition: 0.3s;

            &:hover{
                color: var(--secundaria);
            }
        }

        .traco{
            color: var(--secundaria);
        }
    }

    .cards{
        display: flex;
        width: 50%;
        margin-bottom: 70px;

        a{
            text-decoration: none;
            color: var(--terciaria);
        }

        .linkRepositorio {
            text-decoration: none;
            color: var(--terciaria);
            font-size: 1rem;
            margin-bottom: 15px;
            transition: 0.3s;

            &:hover{
                color: var(--secundaria);
            }
        }

        .card{
            width: 250px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            
            img{
                width: 250px;
                height: 150px;
                filter: blur(2px);
                margin-bottom: 8px;
                border-radius: 4px;

                &:hover{
                    filter: none;
                }
            }

            h3{
                color: var(--secundaria);
            }
        }
       
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    hr{
        width: 99vw;
        border: none;
        border-top: 1px solid #f2f4ff54;
    }
}

@media(max-width: 1029px){
    .projetos .card{
        margin-bottom: 25px;
    }
}

@media(max-width: 837px){
    .projetos{
        .titulo{
            width: 60%;
        }
    }
}

@media(max-width: 451px){
    .projetos{
        .titulo{
            text-align: center;
        }
        .cards{
            width: 75%;
        }
    }
}

@media(max-width: 375px){
    .projetos{
        .titulo{
            width: 75%;
        }
        .cards{
            width: 75%;
        }
        p{
            width: 75vw;
        }
        
    }
}