*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Red Hat Mono', monospace;
}

:root{
    --primaria: #1F2136;
    --secundaria: #d42029;
    --terciaria: #F2F4FF;
}

body{
    background:linear-gradient(90deg, #353a55, #23253A, #1c1e33);
    background-size: 300%, 300%;
    background-attachment: fixed;
    animation: colors 8s ease infinite;
    overflow-x: hidden;
    
}

@keyframes colors{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

p{
    font-weight: lighter;
}

h1{
    font-weight: medium;
}

@media (max-width: 1266px) {
    html{
        font-size: 80%;
    }
}

@media (max-width: 668px) {
    html{
        font-size: 65%;
    }
}